div
  div.row-fluid
    h3.span12 Ingresa el objetivo de la comparación. En ocasiones es conocida como la meta.
    input.form-control(type="text", ng-model="parentFactor.meta")


  .options(ng-hide="!!parentFactor.parent")
    h3 Ingrese los Proyectos/Opciones a evaluar en el objetivo.
      button.btn.btn-primary(ng-click='addOption()')
        span.glyphicon.glyphicon-plus
        |  Opción

    .row-fluid
      table.table
        tr
          th
          th Nombre
        tr(ng-repeat='option in options')
          td(ng-bind="$index+1")
          td
            input.form-control(type='text',ng-model='option.name')

  hr

  div.factors-table

  h3 Seleccione ahora como es cada opción frente a otra basados en cada factor de decisión.
  div(ng-repeat="factor in factors")
    div.factor-options

  .process(ng-show="$root.show_process")
    h3 Resultados de los Factores
    .row-fluid
      table.table.table-bordered.table-striped
        tr
          td
          th(ng-repeat='factor in factors', ng-bind="factor.name")
          th Totales
        tr
          td
          th(ng-repeat='factor in factors', ng-bind="parentFactor.rowSum[$index]|number:2")
          td
        tr(ng-repeat='option in options')
          th(ng-bind="option.name")
          td(ng-repeat='factor in factors', ng-bind="parentFactor.rowSumOptions[$index][$parent.$index] | number:2")
          th(ng-bind="(parentFactor.getOptionsScore($index)*100 | number:2) + '%'")

  h3 Resumen

  p Para el presente ejercicio se realizó el análisis por jerarquía de procesos para lograr la meta
    span(ng-bind="parentFactor.meta")
    |  y el score fué el siguiente:
  ol
    li(ng-repeat="option in options")
      b(ng-bind="option.name")
      | , Score:
      span(ng-bind="(parentFactor.getOptionsScore($index)*100|number:2) + '%'")
      
  
  