div
  h3 Cuales son los factores de decisión ?
    button.btn.btn-primary(ng-click='addFactor()')
      i.icon-plus.icon-white
      |  Factor

  .row-fluid(ng-show="factors.length > 0")
    table.table
      tr
        th
        th Nombre
      tr(ng-repeat='factor in factors')
        td(ng-bind="$index + 1")
        td
          input(type='text',ng-model='factor.name')


  h3 Seleccione que importancia tiene un factor de decisión sobre otro
  table.table
    tr
      th Comparador
      th Valor
    tbody(ng-repeat='factorRow in factors')
      tr(ng-repeat='factorColumn in factors', ng-show="$index > $parent.$index")
        td(ng-bind="factorRow.name + ' sobre ' + factorColumn.name ")
        td
          select(ng-options="value as fraction for (fraction, value) in fractions", ng-model='parentFactor.pairwise[$parent.$index][$index]')

  .process(ng-show="$root.show_process")
    h3 Comparación por pares

    table.table.table-bordered.table-striped
      tr
        td
        th(ng-repeat='factorColumn in factors', ng-bind="factorColumn.name")
      tr(ng-repeat='factorRow in factors')
        td(ng-bind="factorRow.name")
        td(ng-repeat='factorColumn in factors')
          span(ng-bind='parentFactor.pairwise[$parent.$index][$index] | number:2 ')

    h3 Proceso de Normalización

    h4 Fracciones

    .row-fluid
      table.table.table-bordered.table-striped
        tr
          td
          th(ng-repeat='factorColumn in factors', ng-bind="factorColumn.name")
        tr(ng-repeat='factorRow in factors')
          th(ng-bind="factorRow.name")
          td(ng-repeat='factorColumn in factors', ng-bind="parentFactor.pairwisefractions[$parent.$index][$index] | number:2")
        tr
          th Suma Columna
          td(ng-repeat='factorColumn in factors', ng-bind="parentFactor.columnSum[$index] | number:2")

    h4 Normalización
    .row-fluid
      table.table.table-bordered.table-striped
        tr
          td
          th(ng-repeat='factorColumn in factors', ng-bind="factorColumn.name")
          th Peso
          th(ng-show="parentFactor.parent") Peso Relativo
        tr(ng-repeat='factorRow in factors')
          td(ng-bind="factorRow.name")
          td(ng-repeat='factorColumn in factors', ng-bind="parentFactor.pairwisefractions[$parent.$index][$index]/parentFactor.columnSum[$index]  | number:2")
          td(ng-bind="(parentFactor.rowSum[$index]*100 | number:2) + '%'")
          td(ng-show="parentFactor.parent", ng-bind="(parentFactor.rowSum[$index]*parentFactor.parent.rowSum[parentFactor.parent.childs.indexOf(parentFactor)]*100 | number:2) + '%'")
        tr
          th Suma Columna
          td(ng-repeat='factorColumn in factors', ng-bind="parentFactor.columnSumUnit[$index] | number:2")
          td
          td(ng-show="parentFactor.parent")

  // TODO: Pending reactivate sub-factors
  //accordion
  //  accordion-group(ng-repeat="factor in factors", heading="{{level + 1 }} Nivel de Subfactores para {{factor.name}}")
  //    div.factors(childs="factor.childs", options="options", parent-factor="factor", level="level+1")
