div
  h3 Factores de decisión
    button.btn.btn-primary(ng-click='addFactor()')
      i.icon-plus.icon-white
      |  Factor
  
  .row-fluid(ng-show="factors.length > 0")
    table.table.table-bordered.table-striped
      tr
        th
        th Nombre
      tr(ng-repeat='factor in factors')
        td {{$index+1}}
        td
          input(type='text',ng-model='factor.name')
  
  
  h3 Comparación por pares
  .row-fluid
    table.table.table-bordered.table-striped
      tr
        td
        th(ng-repeat='factorColumn in factors') {{factorColumn.name}}
      tr(ng-repeat='factorRow in factors')
        td {{factorRow.name}}
        td(ng-repeat='factorColumn in factors')
          input(type='text', ng-model='parentFactor.pairwise[$parent.$index][$index]')
  
  
  h3 Normalización
  
  h4 Fracciones
  
  .row-fluid
    table.table.table-bordered.table-striped
      tr
        td
        th(ng-repeat='factorColumn in factors') {{factorColumn.name}}
      tr(ng-repeat='factorRow in factors')
        th {{factorRow.name}}
        td(ng-repeat='factorColumn in factors') {{parentFactor.pairwisefractions[$parent.$index][$index] | number:2}}
      tr
        th Suma Columna
        td(ng-repeat='factorColumn in factors') {{parentFactor.columnSum[$index] | number:2}}
  
  h4 Normalización
  .row-fluid
    table.table.table-bordered.table-striped
      tr
        td
        th(ng-repeat='factorColumn in factors') {{parentFactor.factorColumn.name}}
        th Peso
        th(ng-show="parentFactor.parent") Peso Relativo
      tr(ng-repeat='factorRow in factors')
        td {{factorRow.name}}
        td(ng-repeat='factorColumn in factors') {{parentFactor.pairwisefractions[$parent.$index][$index]/parentFactor.columnSum[$index]  | number:2}}
        td {{parentFactor.rowSum[$index]*100 | number:2}}%
        td(ng-show="parentFactor.parent") {{parentFactor.rowSum[$index]*parentFactor.parent.rowSum[parentFactor.parent.childs.indexOf(parentFactor)]*100 | number:2}}%
      tr
        th Suma Columna
        td(ng-repeat='factorColumn in factors') {{parentFactor.columnSumUnit[$index] | number:2}}
        td
        td(ng-show="parentFactor.parent")

  accordion
    accordion-group(ng-repeat="factor in factors", heading="Análisis de Subfactores para {{factor.name}}")
      factors(childs="factor.childs", options="options", parent-factor="factor", level="level+1")
