div
  div.row-fluid
    h3.span3 Ingresa la meta
      input.input-xxlarge(type="text", ng-model="parentFactor.meta")
  
  div(ng-include="'/partials/factors_table.html'")
  
  hr
  
  .options(ng-hide="!!parentFactor.parent")
    h3 Proyectos/Opciones a evaluar
      button.btn.btn-primary(ng-click='addOption()')
        i.icon-plus.icon-white
        |  Opción
    
    .row-fluid
      table.table.table-bordered.table-striped
        tr
          th
          th Nombre
        tr(ng-repeat='option in options')
          td {{$index+1}}
          td
            input(type='text',ng-model='option.name')
          
  div(ng-repeat="factor in factors")
    h3 Comparación de proyectos/opciones por el factor 
      b {{factor.name}}
    div(ng-include="'/partials/options.html'")
    
  h2 Resultados
  .row-fluid
    table.table.table-bordered.table-striped
      tr
        td
        th(ng-repeat='factor in factors') {{factor.name}}
        th Totales
      tr
        td
        th(ng-repeat='factor in factors') {{parentFactor.rowSum[$index]|number:2}}
        td
      tr(ng-repeat='option in options')
        th {{option.name}}
        td(ng-repeat='factor in factors') {{parentFactor.rowSumOptions[$index][$parent.$index] | number:2}}
        th {{parentFactor.getOptionsScore($index)*100 | number:2}}%
        
  h3 Resumen
  
  p Para el presente ejercicio se realizó el análisis por jerarquía de procesos para lograr la meta {{parentFactor.meta}}, y el score fué el siguiente:
  ol
    li(ng-repeat="option in options")
      b {{option.name}}
      | , Score: {{parentFactor.getOptionsScore($index)*100|number:2}}%
      
  
  