div
  .row-fluid
    h3.span12 Ingrese la meta a la cual desea llegar a través del análisis:
      input.input-xxlarge(type="text", ng-model="parentFactor.meta")
      
      
  .options(ng-hide="!!parentFactor.parent")
    h3 Proyectos/Opciones a evaluar
      button.btn.btn-primary(ng-click='addOption()')
        i.icon-plus.icon-white
        |  Opción
    span Indique que Proyectos u Opciones son las que desea evaluar.
    |  Ej: Proyectos de Negocio, Proyectos de Vivienda, Viaje de Vacaciones, etc.

    .row-fluid
      table.table.table-bordered.table-striped
        tr
          th
          th Nombre
        tr(ng-repeat='option in options')
          td {{$index+1}}
          td
            input(type='text',ng-model='option.name')

  hr
  
  div(ng-include="'/partials/factors_table.html'")

  h2 Resultados de los Factores
  .row-fluid
    table.table.table-bordered.table-striped
      tr
        td
        th(ng-repeat='factor in factors') {{factor.name}}
        th Totales
      tr
        td
        th(ng-repeat='factor in factors') {{parentFactor.rowSum[$index]|number:2}}
        td
      tr(ng-repeat='option in options')
        th {{option.name}}
        td(ng-repeat='factor in factors') {{parentFactor.rowSumOptions[$index][$parent.$index] | number:2}}
        th {{parentFactor.getOptionsScore($index)*100 | number:2}}%
        
  div(ng-repeat="factor in factors")
    h3 Comparación de proyectos/opciones
    div(ng-include="'/partials/options.html'")
        
  h3 Resumen
  
  p Para el presente ejercicio se realizó el análisis por jerarquía de procesos para lograr la meta {{parentFactor.meta}}, y el score fué el siguiente:
  ol
    li(ng-repeat="option in options")
      b {{option.name}}
      | , Score: {{parentFactor.getOptionsScore($index)*100|number:2}}%
      
  
  