div
  h3 Factores de decisi贸n
    button.btn.btn-primary(ng-click='addFactor()')
      i.icon-plus.icon-white
      |  Factor
  
  .row-fluid(ng-show="factors.length > 0")
    table.table.table-bordered.table-striped
      tr
        th
        th Nombre
      tr(ng-repeat='factor in factors')
        td {{$index+1}}
        td
          input(type='text',ng-model='factor.name')
  
  
  h3 Comparaci贸n por pares
  .row-fluid(ng-repeat='factorRow in factors')

    .span12(ng-repeat='factorColumn in factors', ng-show="$index > $parent.$index")
      | {{factorRow.name}} vs {{factorColumn.name}}
      select(ng-options="fraction for fraction in fractions", ng-model='parentFactor.pairwise[$parent.$index][$index]')
  .row-fluid
    table.table.table-bordered.table-striped
      tr
        td
        th(ng-repeat='factorColumn in factors') {{factorColumn.name}}
      tr(ng-repeat='factorRow in factors')
        td {{factorRow.name}}
        td(ng-repeat='factorColumn in factors')
          select(ng-options="fraction for fraction in fractions", ng-model='parentFactor.pairwise[$parent.$index][$index]')
  
  .process(ng-show="$root.show_process")
    h3 Proceso de Normalizaci贸n
    
    h4 Fracciones
    
    .row-fluid
      table.table.table-bordered.table-striped
        tr
          td
          th(ng-repeat='factorColumn in factors') {{factorColumn.name}}
        tr(ng-repeat='factorRow in factors')
          th {{factorRow.name}}
          td(ng-repeat='factorColumn in factors') {{parentFactor.pairwisefractions[$parent.$index][$index] | number:2}}
        tr
          th Suma Columna
          td(ng-repeat='factorColumn in factors') {{parentFactor.columnSum[$index] | number:2}}
    
    h4 Normalizaci贸n
    .row-fluid
      table.table.table-bordered.table-striped
        tr
          td
          th(ng-repeat='factorColumn in factors') {{factorColumn.name}}
          th Peso
          th(ng-show="parentFactor.parent") Peso Relativo
        tr(ng-repeat='factorRow in factors')
          td {{factorRow.name}}
          td(ng-repeat='factorColumn in factors') {{parentFactor.pairwisefractions[$parent.$index][$index]/parentFactor.columnSum[$index]  | number:2}}
          td {{parentFactor.rowSum[$index]*100 | number:2}}%
          td(ng-show="parentFactor.parent") {{parentFactor.rowSum[$index]*parentFactor.parent.rowSum[parentFactor.parent.childs.indexOf(parentFactor)]*100 | number:2}}%
        tr
          th Suma Columna
          td(ng-repeat='factorColumn in factors') {{parentFactor.columnSumUnit[$index] | number:2}}
          td
          td(ng-show="parentFactor.parent")

  accordion
    accordion-group(ng-repeat="factor in factors", heading="{{level + 1 }} Nivel de Subfactores para {{factor.name}}")
      factors(childs="factor.childs", options="options", parent-factor="factor", level="level+1")
