div(ng-app='ng-app')
  factors(childs="factor.childs", options="options")
  
  h3 Resumen General
  
  p Para el presente ejercicio se realizó el análisis por jerarquía de procesos para lograr la meta {{meta}} el score es el siguiente:
  ol
    li(ng-repeat="result in optionsScore | orderBy:'score':'true'")
      b {{result.option.name}}
      | , Score: {{result.score*100|number:2}}%
      
  button.btn.import-cvs(clicks-to=".file") Cargar
  input.file(type="file", onchange="angular.element(this).scope().handleFileSelect(this)", ng-show="false")
  button.btn(ng-click='saveFile()') Guardar

    
    
    