div(ng-controller='HomeCtrl')
  .config.pull-right
    .form-inline
      label.checkbox
        input(type="checkbox", ng-model="$root.show_process")
        |  Mostrar Proceso
  
  
  div.factors(childs="rootFactor.childs", options="options", parent-factor="rootFactor", level="0")
  
  //h3 Resumen General
  //
  //p Para el presente ejercicio se realizó el análisis por jerarquía de procesos para lograr la meta {{meta}} el score es el siguiente:
  //ol
  //  li(ng-repeat="result in optionsScore | orderBy:score:reverse")
  //    b(ng-bind="result.option.name")
  //    | , Score:
  //    span(ng-bind="(parentFactor.getOptionsScore($index)*100|number:2) + '%'")
      
  button.btn.btn-default.import-cvs(clicks-to=".file") Cargar
  input.file(type="file", accept=".ahp", onchange="angular.element(this).scope().handleFileSelect(this)", ng-show="false")
  a.btn.btn-primary(ng-click='saveFile($event)') Guardar

    
    
    