table.table.table-bordered.table-striped
  tr
    th Comparación respecto a:
      b  {{factor.name}}
    th Valor
  tbody(ng-repeat='factorRow in options')
    tr(ng-repeat='factorColumn in options', ng-show="$index > $parent.$index")
      td {{factorRow.name}} vs {{factorColumn.name}}
      td
        select(ng-options="fraction for fraction in fractions", ng-model='parentFactor.pair_wise_options[$parent.$parent.$index][$parent.$index][$index]')



.process(ng-show="$root.show_process")
  h3 Proceso de Normalización de las Opciones
  
  h4 Fracciones
  
  table.table.table-bordered.table-striped
    tr
      td
      th(ng-repeat='factorColumn in options') {{factorColumn.name}}
    tr(ng-repeat='factorRow in options')
      td {{factorRow.name}}
      td(ng-repeat='factorColumn in options') {{parentFactor.pair_wise_options_fractions[$parent.$parent.$index][$parent.$index][$index] | number:2 }}
    tr
      th Suma Columna
      td(ng-repeat='factorColumn in options') {{parentFactor.columnSumOptions[$parent.$parent.$index][$index] | number:2 }}
  
  h4 Normalización
  table.table.table-bordered.table-striped
    tr
      td
      th(ng-repeat='factorColumn in options') {{factorColumn.name}}
      th Peso
      th(ng-show="parentFactor.parent") Peso Relativo
    tr(ng-repeat='factorRow in options')
      td {{factorRow.name}}
      td(ng-repeat='factorColumn in options') {{parentFactor.pair_wise_options_fractions[$parent.$parent.$index][$parent.$index][$index]/parentFactor.columnSumOptions[$parent.$parent.$index][$index] | number:2 }}
      td {{parentFactor.rowSumOptions[$parent.$parent.$index][$index]*100 | number:2 }}%
      td(ng-show="parentFactor.parent") {{parentFactor.rowSumOptions[$parent.$parent.$index][$index]*parentFactor.rowSum[$parent.$index]*parentFactor.parent.rowSum[parentFactor.parent.childs.indexOf(parentFactor)]*100 | number:2}}%
    tr
      th Suma Columna
      td(ng-repeat='factorColumn in options') {{parentFactor.columnSumUnitOptions[$parent.$parent.$index][$index] | number:2 }}
      td
      td(ng-show="parentFactor.parent")